body {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

img {
    width: 100px;
    height: auto;
}

ul {
    text-align: right;
    margin-left: 320px;
}

li {
    list-style-type: none;
    float: left;
    padding: 0 50px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

a:hover {
    color: black;
}

h1 {
    color: white;
}
